header{
      background-color: #e7e6e6c5;
}

.banner-cont{
    /* border: 1px solid red; */
    /* max-width: 1200px; */
    height: 800px;
    background: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    /* width: 100%; */

}

.banner-title{
    text-align: right;
    max-width: 552px;
    padding: 216px 200px 364px 1100px;
}
.banner-title h2{
    font-size: 65px;
    font-weight: 700;
}
.banner-title p{
    max-width: 550px;
    align-items: end;
    font-size: 16px;
    row-height: 26px;
    /* background-color: bisque; */
    text-align: right;
    padding-bottom: 30px;
}
.btn{
    width: 160px;
    height: 65px;
    border-radius: 8px;
    font-size: 1.5em;
    border: none;
    background-color: rgba(241, 91, 34, 1);
}

#intro-cont{
    display: flex;
    margin-top: 100px;
}
.intro-img{
    background-color: #FCDED3;
    border-radius: 200%;
    padding-bottom: 20px;
    margin: 0;
    
}

.inrto-describtion{
    margin-left: -400px;
    padding-left: 50px;
    /* border: 1px solid black; */
}

.inrto-describtion h2{
    width: 288px;
    font-size: 40px;
}

.inrto-describtion .intro-info{
    width: 416px;
    /* height: 104px; */
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.middle{
    align-items: center;
    width: 1600px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    gap: 50%;
    /* border: 1px solid red; */
}